{% extends 'base.html' %}
{% block title %}<title>{{ hero.nickname }} - Django superheroes</title>{% endblock %}
{% block name_page %}<h1 class="mt-4 mb-4">{{ hero.nickname }}</h1> <small style="float: right;position: absolute;right: 10px;margin-top: -55px"><a href="/"><i class="fas fa-long-arrow-alt-left"></i> Back to main page</a></small>{% endblock %}
{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="main-information-tab" data-toggle="tab" href="#main-information" role="tab" aria-controls="main-information" aria-selected="true">Main information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
  </li>
</ul>
    <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="main-information" role="tabpanel" aria-labelledby="home-tab">
     {% if hero.images %}
  <div class="main_image" style='background-image: url("{{ hero.images.url }}")'></div>
      {% else %}
      <div class="main_image no-image"></div>
 {% endif %}
 <table class="table table-bordered">
  <tbody>
    <tr>
      <th>Nickname:</th>
      <td>{{ hero.nickname }}</td>
    </tr>
    <tr>
      <th>Real name</th>
      <td>{{ hero.real_name }}</td>
    </tr>
    {% if hero.origin_description %}
    <tr>
      <th>Origin description</th>
      <td>{{ hero.origin_description }}</td>
    </tr>
      {% endif %}
     {% if hero.superpowers %}
     <tr>
      <th>Superpowers</th>
      <td>{{ hero.superpowers }}</td>
    </tr>
     {% endif %}
     {% if hero.catch_phrase %}
   <tr>
      <th>Catch phrase</th>
      <td>{{ hero.catch_phrase }}</td>
    </tr>
   {% endif %}
  </tbody>
</table>
  </div>
    <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
        <div class="row">
            {% if hero.img1 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img1.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img2 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img2.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img3 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img3.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img4 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img4.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img5 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img5.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img6 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img6.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img7 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img7.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img8 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img8.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img9 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img9.url }}")'>
                </div>
            </div>
            {% endif %}
        {% if hero.img10 %}
            <div class="col-md-3">
                <div class="img-gallery-item" style='background-image: url("{{ hero.img10.url }}")'>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}